        .thumb-list img {
            width: 80px;
            height: 80px;
            object-fit: cover;
            border: 2px solid #ddd;
            cursor: pointer;
            margin-right: 10px;
            border-radius: 5px;
        }

        .thumb-list img:hover {
            border-color: #d4af37;
        }

        .big-image img {
            width: 100%;
            height: 450px;
            object-fit: cover;
            border-radius: 10px;
        }

        .product-info {
            margin-left: 100px;
        }

        .pro-price {
            font-size: 20px;
            font-weight: 400;
            color: #d4af37;
        }
